@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


/*Style Guide*/
:root {
  --call-to-action: #6D2F3E;
  --call-to-action-3: #BFA3AA;
  --primary-text: #0F0709;
  --error: #D11313;
  --success: #3AC420;
  --pending: #FE9705;
  --neutral-gray: #D0CBCC;
  --background: #FEFDFD;
  --subtle-gray: #F2F2F2;
  --dark-gray: #504C4D;
}

/* Body/Page Structure*/
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text);
  background-color: var(--background);
}


/* Button Behavior */
.btn-primary {
  background-color: var(--call-to-action);
  border-color: var(--call-to-action);
}

.disabled-btn {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-submit {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
  color: var(--background);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.btn-cancel {
  color: var(--primary-text);
  text-decoration: underline;
}

/*Nav Bar */
.active-nav-link {
  text-decoration: underline solid var(--call-to-action) 2px;
}

/* Case Cards*/
.case-card-wrapper {
  border-left: 12px solid ;
  border-radius: 6px 0 0 6px;
  margin: 2rem 1rem 2rem 1rem;
  overflow: hidden;
}

.canceled {
  border-color: var(--error);
}

.waitlisted {
  border-color: var(--pending);
}

.completed {
  border-color: var(--success);
}

.case-card, .case-card-extended {
  background-color: var(--subtle-gray);
}

.case-card {
  border-radius: 0 0 0 0;
  margin-left: 0;
}

.case-card-info {
  display: flex;
}

.case-card-title {
  font-weight: 600;
  padding-bottom: 0;
}

.case-card-subtitle {
  margin-top: 0;
}

.case-card-right p, .case-card-subtitle {
  color: gray;
  font-size: 0.85rem;
}

.case-card-right p {
  margin-top: -0.5rem;
}

/* Extended reveal NOTE: Can be changed to use state in the future if more control is needed over hover functionality */
.case-card-extended {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
  border-top: 0 solid transparent; /* avoids a border flash on open */
}
.case-card-wrapper:hover .case-card-extended {
  max-height: 160px; /* bump up if your content is taller */
}

.case-card-extended p {
  margin-left: 1rem;
}

.case-card-tag p {
  background-color: var(--background);
  width: fit-content;
  padding: 0.4rem;
  margin-top:  0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 3px;
}

/*Edit Form*/
.edit-form-title {
  font-size: 1.5rem;
}

.edit-form-subtitle {
  font-size: 0.85rem;
  color: gray;
}

.form-section-bar {
  border-left: 10px solid var(--call-to-action);
  padding-left: 0.75rem;
  border-radius: 3px;
}

.form-label.required::after,
.form-floating label.required::after {
  content: " *";
  color: var(--error);
}

.err-color {
  color: var(--error);
  margin-top: 1rem;
}

/*Schedule*/
#schedule-container {
  background-color: #F3EEF0;
  margin: 1rem 0 1rem 0;
}

.position-slot {
  background-color: var(--background);
  padding: 1rem;
  min-width: 25%;
  margin: 1rem;
}

#attorney-section p {
  margin: 0;
}